{% extends "base.html" %}

{% block content %}
<h2 class="about">About:</h2>
<div class="content">
<p>This Travel BucketList webpage was created in November 2021 By Louis Fletcher</p>
<h6>With Help ;-)</h6>
<h3 class="about">This app can be used to plan destinations you would like to Visit and those you have already visited</h3>
<br>
<p>Using this app allows you to:</p>
<li>Add New Cities</li>
<li>Delete Cities</li>
<li>Add new Countries</li>
<li>Delete Countries</li>
<li>Edit and Update Countries</li>
<li>keep Track of places you have visited with a green tick for visited and a black x for not visited</li>
<br>
<h3>Try and have fun using this app, it has been designed to be user frinedly where you can plan, add, delete etc for Countries and/or Cities</h3>
</div>
add photo
{% endblock %}