{% extends "base.html" %}

{% block content %}
<h2 class="Home">Welcome to your own Travel Planner!</h2>
<div class="content">
<hr>
<br>
<br>
<h3>This app can be used to plan destinations you would like to Visit and those you have already visited</h3>

<h4>Using this app allows you to:</h4>
<li>Add New Cities</li>
<li>Delete Cities</li>
<li>Add new Countries</li>
<li>Delete Countries</li>
<li>Edit and Update Countries</li>
<li>keep Track of places you have visited with a green tick for visited and a black x for not visited</li>
<h5>Try and have fun using this app, it has been designed to be user friendly where you can plan, add, delete etc for Countries and/or Cities</h5>
<hr>
add image
</div>



{% endblock %}