{% extends "base.html" %}

{% block content %}
<h2 class="Home">Welcome to your own Travel Planner!</h2>

<hr>
<br>
<br>
<div class="home_text">
<h3>This site can be used to create a personalised Bucket List for you to plan destinations you would like to visit and tick off those you have already visited</h3>
<h4>Using this site allows you to:</h4>
<div class="edit_home">
<li>Add new Countries/Delete Countries</li>
<li>Add new Cities/Delete Cities</li>
<li>Update and Edit Countries</li>
<li>Keep track of places you have visited with a green tick for visited and a X for not visited</li>
</div>
<!-- <h5>Try and have fun using this app, it has been designed to be user friendly where you can plan, add, delete etc for Countries and/or Cities</h5> -->
</div>
<hr>

</div>
<div class="globe">
<img src="/static/img/globe.png" alt="globe">
</div>

{% endblock %}