body {
    margin: 0;
    font-family: sans-serif;
  }
  
body > header {
    padding: 23px;
    display: flex;
    justify-content: space-between;
    background-color: #104c91 ;
  }
  
body > header > h1 {
    padding-left: 100px;
    color: #efc9af;
  }

body > header > nav > ul {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
  }

body > header > nav > ul > li > a {
    padding-right: 80px;
    color:#efc9af;
    text-decoration: none;
  }

  
.links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  text-size-adjust: 200%;
} 
.links > li > a {
  text-decoration: none;
  
}
  
/* Header and nav bar complete */
h2 {
    margin: auto;
    width: 80%;
    display: flex;
    color: #104c91;
}
.Home {
    margin: auto;
    width: 50%;
    display: flex;
    color: #104c91;
}

body {
    background-color: #ffebdd;
    font-family: vintage ;
}


.home_text{
  color: #104c91;
}





.country_help {
  margin: auto;
  width: 80%;
  display: flex;
  color: #104c91;
}


.city_card {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  list-style: none;
  background-color:#96c9eb;
  width: 33%;
  /* margin: auto; */
}

.cities_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5%;
  color:#104c91;
}



.Headings {
  margin: auto;
  width: 80%;
  display: flex;
  color: #104c91;
}


.home_text {
  margin: auto;
  width: 80%;
  
  color: #104c91;
}

.globe {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    align-items: center; 

}