{% extends "base.html" %}

{% block content %}
<h2>All destinations</h2>
<hr>
<ul class="links">
  <li><a href="/cities/visited">Visted cities</a></li>
  <li><a href="/cities/not_visited">Still to visit</a></li>
  <li><a href="/cities/new_destination">Add New Destination</a></li>
</ul>

<div class="cities_cards">
  {% for city in cities %}
  <div class="city_card">
    <div class="content">
      <h3>City Name -</h3> <p>{{city.name}}</p>
      <h3>Country Name -</h3><p>{{city.country.name}}</p>
      <h3>Country Population -</h3><p>{{city.country.population}}</p>
      <h3>National Currency -</h3><p>{{city.country.currency}}</p>
      <h3>National Language -</h3> <p>{{city.country.language}}</p>
      <h3>Have you ever visted?</h3><p>{{city.visited}}</p>

      {% if city.visited == True %}
      <i class="fa fa-check fa-2x" style="color:green" aria-hidden="true"></i>
      {% else %}
      <i class="fa fa-times fa-2x" aria-hidden="true"></i>
      {% endif %}
    
      <form class="delete-form" action="/cities/{{city.id}}/delete" method='post'>
        <button class="trash-button"><i class="fa fa-trash-o fa-3x" 
        style="color:red" aria-hidden="true"></i></button>
      </form>
    </div>      
  </div>
  {% endfor %}
</div>
{% endblock %}