{% extends "base.html" %}

{% block content %}
<form action="/cities" method="post">
    <div>
      <label for="name">Country Name:</label>
      <input type="text" id="name" name="name" placeholder="Country Name" required autofocus>
    </div>
    <div>
        <label for="population">Population: </label>
        <input type="number" id="population" name="population" placeholder="Population" >
      </div>

      <div>
        <label for="currency">Currency :</label>
        <input type="text" id="currency" name="currency" placeholder="Currency">
      </div>

      <div>
        <label for="language">Language:</label>
        <input type="language" id="language" name="language" placeholder="Language">
      </div>
    <button type="submit">Add Country</button>
  
  </form>


{% endblock %}